<div class="profile_edit">  
  <h2>プロフィール編集</h2>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @user, local: true) do |f| %>  
    <div class="name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="email">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="password">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="password_confirmation">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="image">
      <%= f.label :プロフィール写真 %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
    <div class="submit">
      <%= f.submit "Edit my account" %>
    </div>
  <% end %>
</div>
<%= link_to "プロフィールへ戻る", user_path(current_user.id),class:"back btn btn-secondary btn-sm"%>