<h2>投稿一覧</h2>
<div class="pictures">
  <% @pictures.reverse_each do |picture| %>
    <div class="main">
      <%= picture.user.name %>
      <%= l picture.created_at %>
      <br>
        <%= picture.content %>
      </br>
      <div class="image">
        <%= image_tag(picture.image.url) if picture.image && picture.image.url %>
      </div>
      <div class="btn_menu">
        <%= link_to '詳細', picture_path(picture.id), class:"show btn btn-secondary btn-sm" %>
        <% if picture.user == current_user %>
          <%= link_to "編集", edit_picture_path(picture.id),class:"edit btn btn-secondary btn-sm" %>
          <%= link_to "削除", picture_path(picture.id), method: :delete ,class:"edit btn btn-secondary btn-sm" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>