<h1>ブログ一覧</h1>
<p><%= notice %></p>

<% @pictures.each do |picture| %>
   <%= picture.user.name %>
   <%= picture.content %>
   <div class="image">
    <%= image_tag(picture.image.url) if picture.image && picture.image.url %>
   </div>
   <%= link_to '詳細を確認する', picture_path(picture.id) %>
   <% if picture.user == current_user %>
     <%= link_to "ブログを編集する", edit_picture_path(picture.id) %>
     <%= link_to 'ブログを削除する', picture_path(picture.id), method: :delete %>
   <% end %>
<% end %>


<%= link_to '新しくブログを投稿する', new_picture_path %>