<!DOCTYPE html>
<html>
  <head>
    <title>PictureApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <% if logged_in? %>
          <ul class="row">
            <li class="col-md-3"><%= link_to "Picture_app", pictures_path %></li>
            <li class="col-md-3"><%= link_to "Newpost", new_picture_path %></li>
            <li class="col-md-3"><%= link_to "Profile", user_path(current_user.id) %></li>
            <li class="col-md-3"><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
          </ul>
        <% else %>
          <ul class="row">
            <li class="col-md-4"><%= link_to "Picture_app", pictures_path %></li>
            <li class="col-md-4"><%= link_to "Sign up", new_user_path %></li>
            <li class="col-md-4"><%= link_to "Login", new_session_path %></li>
          </ul>
        <% end %>
      </header>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
      <footer>
        <p>chihiro-kakizaki</p>
      </footer>
    </div>
  </body>
</html>
